:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --main-color: #24292e;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}